<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/navbar :: common-header">
</head>

<div th:replace="fragments/navbar :: navbar">&nbsp;</div>

<div>
    <h1 th:text="${thread.title}"></h1>
    <p th:text="${thread.subject}"></p>
    <a th:href="@{|/discussion-threads/${thread.id}/new-post|}" class="btn btn-primary" role="button">Reply To
        Thread</a>
    <div th:each="post : ${thread.posts}" class="card">
        <div class="card-body">
            <p th:text="${post.student != null} ? ${post.student.fullName}:''" class="card-text"></p>
            <p th:text="${post.content}" class="card-text"></p>
        </div>
    </div>
</div>

</html>
