<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/navbar :: common-header">
</head>

<div th:replace="fragments/navbar :: navbar">&nbsp;</div>

<div>
    <h1>Discussion Threads</h1>
    <div th:each="thread : ${threads}" class="card">
        <div class="card-body">
            <h5 class="card-title"><a href="#" th:href="@{/discussion-threads/{id}(id=${thread.id})}"
                    th:text="${thread.title}"></a></h5>
            <p th:text="${thread.student != null} ? ${thread.student.fullName}:''" class="card-text"></p>
            <p th:text="${thread.subject}" class="card-text"></p>
        </div>
    </div>
</div>

</html>
