<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/navbar :: common-header">
</head>
<body>
<div th:replace="fragments/navbar :: navbar">&nbsp;</div>

<div>
    <h1>Assignments</h1>
    <div th:each="assignment : ${assignments}" class="card">
        <div class="card-body">
            <h4 class="card-title">
                <a href="#" th:href="@{/submissions/{id}(id=${assignment.assignmentId})}" th:text="${assignment.name}"></a>
                
            </h4>
            <h5>
                <span th:text="'Course: ' + ${assignment.courseName}"></span>
            </h5>
            <p class="card-text">
                <span th:text="'Score: ' + ${assignment.score}"></span> - 
                <span th:text="'Due Date: ' + ${assignment.dueDate}"></span> -
                Student Name: <span th:text="${studentNamesByAssignmentId[assignment.assignmentId]}"></span>
            </p>
        </div>
    </div>
    <br><br>
    <h2>Add New Assignment</h2>
    <form th:action="@{/submissions}" method="post">
        <div class="form-group">
            <label for="name">Assignment Name:</label>
            <input type="text" id="name" name="name" class="form-control" required />
        </div>

        <div class="form-group">
            <label for="courseId">Course ID:</label>
            <input type="number" id="courseId" name="courseId" class="form-control" required />
        </div>

        <div class="form-group">
            <label for="studentId">Student ID:</label>
            <input type="number" id="studentId" name="studentId" class="form-control" required />
        </div>

        <div class="form-group">
            <label for="score">Score:</label>
            <input type="text" id="score" name="score" class="form-control" required />
        </div>

        <div class="form-group">
            <label for="dueDate">Due Date:</label>
            <input type="text" id="dueDate" name="dueDate" class="form-control" required />
        </div>

        <button type="submit" class="btn btn-primary">Add Assignment</button>
    </form>
</div>
</body>
</html>